[flake8]
ignore = C101,D403,F403,F405,I100,I201,W503,W504, F401, E251
exclude = .git, __pycache__, venv
filename = *.py
acept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
per-file-ignores =
    portfolio_backend/project/settings/templates/settings.dev.py:F821
    portfolio_backend/project/settings/base.py:F821, A001
    portfolio_backend/project/settings/docker.py:F821
    portfolio_backend/project/settings/envvars.py:F821
    portfolio_backend/core/utils/collections.py:A005
    portfolio_backend/project/settings/logging.py:A005
    portfolio_backend/project/settings/base.py:A001
